<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css">
    <!-- Formulário theme -->
    <link rel="stylesheet" href="~/Content/form.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
